name: "terraform IAC"
on:
  push:
    branches:
      - main
      - stage
    paths:
      - terraform/**
  pull_request:
      branches:
        - main
      paths:
        - terraform/**

env:
#credentials for deployment to aws
 AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
 AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#credentials for terraform backend s3
 AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
 AWS_REGION: ap-southeast-1
 EKS_CLUSTER_NAME: terraform-eks

jobs:
  terraform:
    name: "terraform code changes"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform
    steps:
      - name: checkout the source code
        uses: actions/checkout@v4

      - name: setup terraform with specified version on the runner
        uses: hashicorp/setup-terraform@v2
        #with:
          #terraform_version: "1.6.3"

      - name: terraform init
        id: init
        run: terraform init -backend-config="bucket=${AWS_S3_BUCKET}"
      
      - name: terraform format
        id: fmt
        run: terraform fmt -check
      
      - name: terraform validate
        id: validate
        run: terraform validate
      
      - name: terraform plan
        id: plan
        run: terraform plan -no-color -input=false -out planfile
        continue-on-error: true
      
      - name: terraform plan status
        if: steps.plan.outcome == 'failure'
        run: exit 1
      

  